{% extends 'core/plantillaCategorias.html'%}
{% load static %}
{% load custom_filters %}

{% block titulo %}
    <title>Carrito</title>
{% endblock titulo %}

{% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/general.css'%}">
{% endblock disenos %}

{% block cuerpo %}

    {% if carrito %}
            
        {% for i in carrito %}
            <div class="row my-3 border border-dark p-3">
                <div class="col-md-4">
                    <img src="http://localhost:8000{{ i.producto.foto_prod }}" class="img-fluid imagen_prod" alt="No hay imagen disponible">
                </div>
                <div class="col-md-4 d-flex flex-column justify-content-center">
                    <h2>{{ i.producto.nombre_prod }}</h2>
                    <p class="mb-0">${{ i.subtotal }}</p>
                    <p class="mb-0">{{ i.subtotal|divide_by:dolar|floatformat:2 }} $</p>
                </div>
                <div class="col-md-2 d-flex flex-column justify-content-center align-items-end">

                    <form name="contador" id="boton-cant" method="POST" action="{% url 'cambiarCantidad' i.id_detalle%}">
                        {% csrf_token %}
                        <input type="number" min="1"  value="{{ i.cantidad }}" name="nueva_cantidad_{{ i.id_detalle }}" id="cantidad" class="form-control mb-2">
                        <input type="submit" value="Aceptar" class="btn btn-primary">
                    </form>
                    
                </div>
                
                <div class="col-md-2 d-flex flex-column justify-content-center align-items-end">

                    <form name="borrar-form" id="borrar-boton" method="POST" action="{% url 'sacarDelCarro' i.id_detalle%}">
                        {% csrf_token %}
                        <input type="hidden" name="producto_id" value="{{ i.producto.id }}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    
                </div>
            </div>
            
            
        {% endfor %}
        
        <div class="row mt-5 border border-dark">
            <div class="col-md-2"></div>
            <div class="col-md-8 d-flex justify-content-center">
                <a href="{% url 'mostrarIrPagar' venta.total %}" class="btn btn-success ml-2" >Pagar con webpay</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    {% else %}
        <h1>NO SE TIENE UN CARRITO ACTIVO</h1>
    {% endif %}
{% endblock cuerpo %}
    
{% block js %}
    
{% endblock js %}