{% extends 'core/plantillaCategorias.html'%}
{% load static %}

{% block titulo %}
<title>Error</title>
{% endblock titulo %}

{% block disenos %}
<link rel="stylesheet" type="text/css" href="{% static  'core/css/cssgrupo2.css'%}">
{% endblock disenos %}

{% block cuerpo %}
<br>

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <a><img src="{% static 'core/img/error.png' %}"" class=" card-img-top w-25" alt="Error"></a>
            <h5 class="card-title mt-4">¡Ups! No pudimos completar tu pago.</h5>
            <p class="card-text">No se pudo completar tu pago. Por favor, verifica tus datos e inténtalo de nuevo.</p>
            <a href="{% url 'mostrarIndex' %}" class="btn btn-primary">Volver a la tienda</a>
        </div>
    </div>
</div>

{% endblock cuerpo %}

{% block js %}

{% endblock js %}