{% extends 'core/plantillaCategorias.html'%}
{% load static %}

{% block titulo %}
<title>Error de transacción</title>
{% endblock titulo %}

{% block disenos %}
<link rel="stylesheet" type="text/css" href="{% static  'core/css/cssgrupo2.css'%}">
{% endblock disenos %}

{% block cuerpo %} 

<br>

<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <a><img src="{% static 'core/img/error.png' %}"" class=" card-img-top w-25" alt="Error"></a>
            <h5 class="card-title mt-4">Transacción Fallida</h5>
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                   <strong> Orden de compra:</strong> <p>{{ data.buy_order }}<p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <strong>Monto:</strong> <p>${{ data.amount }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <strong>Fecha:</strong><p> {{ data.transaction_date }}</p>
                </div>
            </div>
            <a href="{% url 'mostrarIndex' %}" class="btn">Volver a la tienda</a>
        </div>
    </div>
</div><br>

{% endblock cuerpo %}

{% block js %}

{% endblock js %}