{% extends 'core/plantillaCategorias.html'%}
{% load static %}

{% block titulo %}
    <title>Pagina Principal</title>
{% endblock titulo %}

{% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/general.css'%}">
{% endblock disenos %}

{% block cuerpo %}
    <div class="container">
        <h1 class="text-center">¡Bienvenido al sitio web de Ferremas!</h1>
        <h2 class="text-center">Donde podrás encontrar lo que necesitas en ferreteria y construcción.</h2>
        {% if rol == 4 %}
            <div class="container">
                <div class="row"><br></div>
                <div class="row justify-content-center ">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a href="{% url 'mostrarCrearProducto' %}" class="btn btn-primary">Agregar un producto</a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row"><br></div>
            </div>
        {% endif %}
    </div>
{% endblock cuerpo %}
    
{% block js %}
    
{% endblock js %}