{% extends 'core/plantillaCategorias.html'%}
{% load static %}
{% load custom_filters %}

{% block titulo %}
<title>Producto</title>
{% endblock titulo %}

{% block disenos %}
<link rel="stylesheet" type="text/css" href="{% static  'core/css/cssgrupo2.css'%}">
<style>
    .fixed-size-img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
</style>
{% endblock disenos %}

{% block cuerpo %}

<!-- Detalles del producto -->

<section class="productos my-5">
    <div class="container">
        {% for p in producto %}
        <div class="card mb-4">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ p.foto_prod }}" alt="Imagen del producto" class="img-fluid rounded-start fixed-size-img">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        {% if rol == 2 %}
                        <p class="text-muted">Código del producto: {{ p.cod_prod }}</p>
                        {% endif %}
                        <h2 class="card-title">{{ p.nombre_prod }}</h2>
                        <p class="text-muted">{{ p.marca }}</p>
                        <p><strong>Descripción:</strong> {{ p.descripcion }}</p>
                        <p><strong>Stock:</strong> {{ stock.stock_total }}</p>
                        <p><strong>Precio en CLP:</strong> ${{ p.precio }}</p>
                        <p><strong>Precio en USD:</strong> ${{ p.precio|divide_by:dolar|floatformat:2 }}</p>

                        {% if rol == 0 %}
                        <a href="{% url 'mostrarLogin' %}" class="btn btn-dark">Iniciar sesión para comprar</a>
                        {% endif %}
                        {% if rol == 1 %}
                        <form action="{% url 'agregarAlCarrito' %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-dark">Agregar al carrito</button>
                            <input type="hidden" name="codigo" value="{{ p.cod_prod }}">
                        </form>
                        {% endif %}
                        {% if rol == 4 %}
                        <div class="mt-4">
                            <p><strong>Modificar Stock:</strong></p>
                            <form name="sumar" method="POST" action="{% url 'sumarStock' p.cod_prod %}" class="d-flex align-items-center">
                                {% csrf_token %}
                                <input type="number" min="1" value="1" name="agregar" id="agregar" class="form-control mr-2" style="max-width: 100px;">
                                <button type="submit" class="btn btn-dark">Agregar</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock cuerpo %}

{% block js %}

{% endblock js %}