{% extends 'core/plantillaCategorias.html'%}
{% load static %}

{% block titulo %}
<title>Exito</title>
{% endblock titulo %}

{% block disenos %}
<link rel="stylesheet" type="text/css" href="{% static  'core/css/general.css'%}">
{% endblock disenos %}

{% block cuerpo %} 
    <div class="container border border-dark">

        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 d-flex justify-content-center">
                <h1>Transacción Exitosa</h1>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 d-flex justify-content-center">
                <h2>Orden de compra: {{ data.buy_order }}</h2>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 d-flex justify-content-center">
                <h2>Monto: ${{ data.amount }}</h2>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 d-flex justify-content-center">
                <h2>Fecha: {{ data.transaction_date }}</h2>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 d-flex justify-content-center">
                <a href="{% url 'mostrarIndex' %}" class="btn btn-primary ml-2" >Volver a la pagina principal</a>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
    

{% endblock cuerpo %}

{% block js %}

{% endblock js %}