{% extends 'core/plantillaCategorias.html'%}
{% load static %}

{% block titulo %}
<title>Exito</title>
{% endblock titulo %}

{% block disenos %}
<link rel="stylesheet" type="text/css" href="{% static  'core/css/cssgrupo2.css'%}">
{% endblock disenos %}

{% block cuerpo %}


<br>

<div class="container mt-5">
    <div class="card text-center border-0 shadow-lg rounded-lg">
        <div class="card-body">
            <img src="{% static 'core/img/correct.png' %}" class="card-img-top mx-auto d-block w-25 mb-4" alt="Pago correcto">
            <h2 class="card-title mt-3 mb-4">Transacción Exitosa</h2>
            <div class="mb-3">
                <strong>Orden de compra:</strong>
                <p>{{ data.buy_order }}</p>
            </div>
            <div class="mb-3">
                <strong>Monto:</strong>
                <p>${{ data.amount }}</p>
            </div>
            <div class="mb-3">
                <strong>Fecha:</strong>
                <p>{{ data.transaction_date }}</p>
            </div>
            <a href="{% url 'mostrarIndex' %}" class="btn btn-dark btn-lg mt-3">Volver a la tienda</a>
        </div>
    </div>
</div>
br>


{% endblock cuerpo %}

{% block js %}

{% endblock js %}