{% extends 'core/plantillaCategorias.html'%}
{% load static %}

{% block titulo %}
<title>Stock</title>
{% endblock titulo %}

{% block disenos %}
<link rel="stylesheet" type="text/css" href="{% static  'core/css/cssgrupo2.css'%}">
{% endblock disenos %}

{% block cuerpo %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow-lg rounded-lg">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Stock Inventario</h4>
                    <form method="POST" action="{% url 'buscarStock' %}" enctype="application/x-www-form-urlencoded" class="mb-4">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <label for="codigo_producto" class="input-group-text">Código de Producto:</label>
                            <input type="text" id="codigo_producto" name="codigo_producto" class="form-control" placeholder="Código de Producto" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg">Buscar Stock</button>
                        </div>
                    </form>
                    {% if stock %}
                    <div class="alert alert-success text-center" role="alert">
                        Stock Disponible: {{ stock.stock_total }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock cuerpo %}

{% block js %}

{% endblock js %}